:root {
  /* palheta de cores */
  --color1: #e3ba6a;
  --color2: #bfa374;
  --color3: #6d756a;
  --color4: #4d686f;
  --color5: #364461;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: var(--color5);
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
header {
  width: 100%;
  height: 132px;
  background-color: var(--color3);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-left: 1rem;
  margin-right: 1rem;
}
header h1 {
  margin-left: 1rem;
}
header img {
  margin-right: 1rem;
  width: 100px;
  height: auto;
  border-radius: 50%;
}

header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
}
header nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
header nav ul li {
  color: white;
  list-style-type: none;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #cards {
  width: 100%;
  margin: 30px;
  background-color: #e3ba6a;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  padding: 1rem;
}
main .card {
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  max-width: 300px;
  border: white 5px solid;
  border-radius: 10px;
  border-color: var(--color4);
}

main h1 {
  color: white;
}
main h2 {
  color: white;
}
main .ul-lenguages li {
  list-style: none;
  color: white;
  margin-left: 1rem;
}
